.footer{
    background-color: rgb(49, 50, 50);
}
.footer-logo{
    height: 120px;
  }
  .footer{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:30px;
  }
  .footer-top{
    display: flex;
    justify-content: space-between;
  }
  .footer-top-left p{
  font-size: 20px;
  max-width: 400px;

  }
  .footer-top-left img{
  
    mix-blend-mode: multiply;
  }
  .footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
  }
  .footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 80px;
    border: 1px solid skyblue;
  }
  .footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #A0A0A0;
    font-family: 'outfit';
    font-size: 18px;
  }
  .footer-subscribe{
    font-size: 20px;
    font-weight: 600;
    padding: 22px 50px;
    border-radius: 50px;
    /* background: rgb(63,94,251); */
    background: linear-gradient(200deg, #da7c25 0.36%, #b923e1 102.06%);

    cursor: pointer;
    transition: 0.3s;
  }
  .footer-subscribe:hover{
    background: radial-gradient(circle, rgb(117, 138, 240) 0%, rgb(205, 58, 87) 100%);
    transform: scale(1.12);
  }
  .footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  .footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
  }
  .footer-email-input:hover{
    border: 2px solid white;
  }
  @media(max-width:768px){
    .footer{
      margin: 50px 70px;
    }
    .footer-top{
      flex-direction: column;
      gap: 50px;
    }
    .footer-bottom{
      display: flex;
      flex-direction: column-reverse;
      margin-bottom:50px ;
    }
  }
  
  
  
  
  
  
  