.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
  }
  .contact-title {
    position: relative;
  }
  .contact-title h1 {
    font-size: 80px;
    padding: 0px 30px;
    font-weight: 600;
  }
  .neon-img3 {
    position: absolute;
    height: 40px;
    width: 100%;
    z-index: -1;
  }
  .contact-section {
    display: flex;
    gap: 150px;
  }
  .contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .contact-submit {
    background: linear-gradient(
        90deg,
        rgb(174, 171, 230) 0.4%,
        rgb(90, 131, 220) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    color: white;
    height: 60px;
    width: 240px;
    font-size: large;
    font-weight: 600;
    border-radius: 50px;
    border: hidden;
  }
  .contact-submit:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Initial box shadow */
    background: linear-gradient(270deg, #3a3630 50%, #3c3042 100%);
    transition-duration: .5s;
    animation: revolvingColor 1.5s linear infinite; /* Animation */
    }
    
    @keyframes revolvingColor {
    0% {
    
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); /* Start box shadow */
    
    
    }
    25% {
     
      box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    }
    50% {
      
      box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
    }
    75% {
    
      box-shadow: 0 0 20px rgba(255, 0, 255, 0.5);
    }
    100% {
     
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    }
  }
  .contact-right label {
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
  }
  .contact-right input {
    border: none;
    height: 78px;
    width: 700px;
    padding-left: 20px;
    border-radius: 4px;
    background-color: #323232;
    color: #A0A0A0;
    font-family: "outfit";
    font-size: 20px;
  }
  .contact-right textarea {
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #323232;
    color: #A0A0A0;
    font-family: "outfit";
    font-size: 20px;
  }
  .contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
  }
  .contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: large;
    font-weight: 600;
  }
  .contact-left h1 {
    font-size: 80px;
    font-weight: 700;
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 187, 45, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contact-left p {
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
  }
  .contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
  }
  .contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
  }